table{
				border-collapse: collapse;
				border : solid  2px white;}
			th, td { 
			width:100px;
			text-align:center;
            border-collapse: collapse;
				border : solid  2px white;
				}

th{
    background-color: purple;
    color : white; }

.odd-row{
        background-color : rgb(234, 231, 231);}
.even-row {
        background-color:rgb(191, 219, 191);}
