<!DOCTYPE html>
<html>
    <head>
        <title>Temperature conversion</title>
    </head>
    <body>
        <form action="/convert" method="POST">
            <input type="number" id="temp" name="temp" placeholer="Type temperatue">
            <select id="selector" name="c_type">
            <option value="C2F" selected>Celsius to Fahrenheit</option>
            <option value="F2C" > Fahrenheit to Celsius</option>
            </select>
            <br>
            <input type="submit" value="Convert">
        </form>
    </body>
 </html>

